.pokemon{
  grid-column: span 1;

  background: white;
  margin: auto;
  margin-top: 5%;
  max-width: 100px;
  padding: 20px 50px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.pokemon:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: example;
  animation-duration: 0.25s;
  border-left: 8px solid red;
}

.imgContainer{
  display: grid;
  grid-template-columns: repeat(5, 100px);
  padding-top: 0;
  grid-column-gap:150px;
  margin-left: 5%;
  margin-top: 5%;
}

.board{
  background-color: aliceblue;
}

.title{
  font-size: 2rem;
  display: inline-block;
  margin-left: 38%;
  padding-bottom: 1.5rem;
 
}

.instructions{
  display: inline-block;
  margin-left: 20%;
  padding-bottom: 1.5rem;
}

.status{
  display: inline-block;
  margin-left: 35%;
  padding-bottom: 1.5rem;
}

h3{
  font-size: 1.25rem;
}

p{
  font-size: 1rem;
}

.scores{
  display: flex;
  justify-content: space-around;
}

.score{
  font-size: 1.5rem;
}