.pokemon{
  grid-column: span 1;
  width: 100px;
}

.imgContainer{
  display: grid;
  grid-template-columns: repeat(5, 100px);
  padding: 10px;
  grid-column-gap: 50px;
  margin-left: 20%;
  margin-top: 10%;
}